﻿<h4>{{title}}</h4>

<div ng-show="(feed||[]).length === 0">Loading combined feeds...</div>
<div class="row">
    <div class="col-md-12" ng-repeat="entry in feed">
        <div>
            <b>{{entry.user.name}}</b>
            <div ng-repeat="tweet in entry.tweets">
                <i>{{tweet.user}} said...</i>
                <pre>{{tweet.message}}</pre>
            </div>
            <div ng-show="(entry.tweets||[]).length === 0"><i>(No tweets available)</i></div>
        </div>
    </div>
</div>

<p><a href="#/">Back to feeds</a></p>