﻿<h4>{{title}}</h4>

<div ng-show="(tweets||[]).length === 0">Loading tweets...</div>
<div ng-repeat="tweet in tweets">
    <div><b>{{tweet.user}}</b></div>
    <pre>{{tweet.message}}</pre>
</div>

<p><a href="#/">Back to feeds</a></p>