﻿<h4>{{title}}</h4>

<div ng-show="(users||[]).length === 0">Loading users...</div>
<div class="row">
    <div class="col-md-12" ng-repeat="user in users">
        <div><b>{{user.name}}</b></div>
        <div class="">
            Follows: <span ng-show="(user.followers||[]).length === 0">No one</span>
            <ul>
                <li class="" ng-repeat="follower in user.followers">{{follower}}</li>
            </ul>
        </div>
    </div>
</div>

<p><a href="#/">Back to feeds</a></p>
